header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--fifth-color);
    align-items: center;
    position: fixed;
    width: 100%;
}

.headerNavMenuUl {
    display: flex;
    gap: 16px;
    list-style: none;
    font: var(--body-font);
    height: fit-content;
    align-items: center;
}

.headerNavMenuUl li {
    display: flex;
    width: 110px;
    justify-content: center;
}

.headerNavMenuUl a {
    text-decoration: none;
    color: var(--fourth-color);
}