.infoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

.infoCard {
    background-color: var(--fifth-color);
    padding: 26px;
    display: flex;
    justify-content: center;
    width: fit-content;
    gap: 32px;
    border-radius: 32px;
}

.infoSection img {
    width: 490px;
    height: 282px;
}

.infoCard div {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.infoSection h2 {
    font: var(--title-font);
    width: 800px;
    height: 96px;
}

.infoSection p {
    width: 585px;
    font: var(--body-font)
}