* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, a {
    text-decoration: none;
    list-style: none;
}

:root {
    /* Sombra */
    --drop-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 25%);

    /* Paleta de cores */
    --first-color: #4B7A3D;
    --second-color: #D97904;
    --third-color: #8C6B4D;
    --fourth-color: #593825;
    --fifth-color: #F5E9D9;

    /* Tipografia */
    --title-font: bold 48px/48px "Quicksand", Helvetica, sans-serif;
    --subtitle-font: medium 32px/32px "Quicksand", Helvetica, sans-serif;
    --body-font: 300 24px/24px "Poppins", sans-serif;
    --description-font: 300 16px/16px "Poppins", sans-serif;

    /* Botão Comprar */
    --buyButton-bg: linear-gradient(to bottom, #38F500, #28AE00);
    --buyButton-color: #fff;
    --buyButton-padding: 10px 20px;
    --buyButton-radius: 20px;
    --buyButton-font: bold 36px "Poppins", sans-serif;

    /* Botão primário */
    --primaryButton-bg: linear-gradient(to bottom, #7E4F34, #593825);
    --primaryButton-font: bold 24px/24px "Poppins", sans-serif;
    --primaryButton-padding: 14px 26px;
    --primaryButton-color: #F2F2F2;

    /* Botão secundário */
    --secondaryButton-bg: #F2F2F2;
    --secondaryButton-font: bold 24px/24px "Poppins", sans-serif;
    --secondaryButton-padding: 14px 26px;
    --secondaryButton-color: #593825;
    --secondaryButton-border: #593825 2px solid;
}

.buyButton {
    background: var(--buyButton-bg);
    color: var(--buyButton-color);
    padding: var(--buyButton-padding);
    border: none;
    border-radius: var(--buyButton-radius);
    font: var(--buyButton-font);
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    box-shadow: 0px 0px 15px 0px #38F500;
    padding: 18px 36px;
}

.primaryButton {
    background: var(--primaryButton-bg);
    font: var(--primaryButton-font);
    padding: var(--primaryButton-padding);
    color: var(--primaryButton-color);
    border-radius: 12px;
    box-shadow: var(--drop-shadow);
}

.secondaryButton {
    background: var(--secondaryButton-bg);
    font: var(--secondaryButton-font);
    padding: var(--secondaryButton-padding);
    color: var(--secondaryButton-color);
    box-shadow: var(--drop-shadow);
    border: var(--secondaryButton-border);
    border-radius: 12px;
}