.plansSection {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 112px;
}

.plansSection img {
    width: 654px;
    height: 980px;
    border-radius: 32px;
}

.planContainer {
    display: flex;
    width: 654px;
    height: 980px;
    border-radius: 32px;
    flex-direction: column;
    background-color: var(--fifth-color);
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
}

.planContainer img {
    height: fit-content;
    width: auto;
}

.beneficiosContainer {
    border-color: var(--fourth-color);
    border-style: solid;
    border-radius: 32px;
    font: 26px "Poppins", sans-serif;
    width: fit-content;
    display: flex;
    justify-content: center;
    padding: 20px 50px;
}

.planContainer span {
    color: var(--fourth-color);
    font-weight: bold;
}

.price {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: var(--fourth-color);
    font-size: 80px;
}

.planContainer p {
    font-family: "Poppins", sans-serif;
    color: var(--fourth-color);
}

.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.priceContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}